.nav-link{
  transition: all 100ms ease;
  border-bottom: 2px solid transparent;
}

.active-link {
  border-bottom: 2px solid #3184fd;
}

.navbar-nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.nav-link {
  margin-right: 10px;
}
