<nav style="width: 100vw !important;" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="'new-article'">New article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="'all-articles'" href="#">All articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="'upload-img'" href="#">Upload images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="'upload-list'" href="#">List of images</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
